 /*fonts begins*/
body {
	font-size: 14px;
	line-height: 21px;
	color: black;
	font-weight: normal;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	background: #f2f2f2;
}

h1,h4 {
	font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: black;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

h3 {
	font-size: 30px;
	line-height: 24px;
	color: black;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}
/*fonts end*/

/*clearfix begin*/

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

/*clearfix end*/

/*.container begins*/

.container {
	margin: 0 auto;
	width: 1200px;
	background: #fff;
}

/*.container end*/

/*header begins*/

.main_header {
	position: relative;
	min-height: 56px;
}

.main_nav {
	padding-left: 6%;
	padding-right: 6%;
}

.main_nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main_nav a {
	text-decoration: none;
}

.main_nav_item, .main_nav a {
	width: 200px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.main_nav_item {
	width: 200px;
	padding-top: 14px;
	padding-bottom: 10px;
}

.main_nav_info, .main_nav_photo {
	float: left;
	margin-right: 40px;
}

.main_nav_map, .main_nav_hotels {
	float: right;
	text-align: right;
	margin-left: 40px;
}

.logo {
	position: absolute;
	left: 600px;
	margin-left: -69px;
	z-index: 100;
}

/*header end*/

/*intro begin*/

.intro {
	position: relative;
	min-height: 508px;
	padding-top: 1px;
	margin-bottom: 60px;
	background: #5182ad url(../img/bground/background_header.jpg) no-repeat;

}

.intro:after {
	content: "";
	position: absolute;
    width: 100%;
    height: 57px;
    background: url(../img/bground/bg_header_white.png) no-repeat
    center;
    background-size: 100% 100%;
    bottom: 0;
}

.intro_img {
	margin-top: 75px;
	width: 458px;
	height: 352;
	margin-left: auto;
	margin-right: auto;
}

/*intro end*/

/*main begin*/

/*.description begin*/

.description h1 {
	margin-bottom: 32px;
	text-align: center;
}

.description p {
	margin-bottom: 55px;
	text-align: center;
}

/*description end*/

/*.features_row1 begin*/


.features_row1 .features_item, .features_row3 .features_item {
	background: #81b3d2;
	color: white;
}

.features_item {
	float: left;
	height: 256px;
	width: 400px;
	text-align: center;
}

.features_row1 .features_item h2, .features_row3 .features_item h2, .features_row4 .features_item h2 {
	margin-top: 54px;
	margin-bottom: 28px;
	color: white;
}

.features_numb {
	margin-bottom: 28px;
}

.features_desc {
	margin-left: 50px;
	margin-right: 50px;
}

.features_row1 .features_img {
	float: right;
	height: 256px;
}

/*.features_row1 end*/

/*.features_row2 begin*/

.features_row2 .features_item {
	min-height: 330px;
}

.features_row2 .features_item:before {

}

.features_row2 .features_item h2 {
	margin-bottom: 24px;
}

/*.features_row2 end*/

/*features_row3 begin*/

.features_row3 .features_img {
	float: left;
	height: 256px;
}

.features_row3 .features_item {
	float: right;
}

/*features_row3 end*/

/*features_row4 begin*/


.features_row4 .features_item {
	min-height: 256px;
	background: #eeeeee;
}

.features_row4 .features_item h2 {
	margin-left: 140px;
	margin-right: 140px;
	color: inherit;
}

.features_row4 {
	margin-bottom: 55px;
}
/*features_row4 end*/

/*reserv_block begin*/

.reserve_block {
	text-align: center;
	position: relative;
}

.reserve_title {
	margin-bottom: 33px;
}

.reserve_block p {
	margin-bottom: 50px;
}

.search {
	width: 570px;
	margin: 0 auto; 
}

.search_push {
	display: block;
	padding: 30px 140px;
	background: #766357;
	color: white;
	text-decoration: none;
}

.search_form {
	position: absolute;
	height: 285px;
	width: 460px;
	left: 315px;
	padding: 55px;
	background: #ffffff;
}

.entry_field {
	margin-bottom: 29px;
}

.date_field {
	width: 287px;
	padding-left: 10px;
	padding-right: 30px;
	height: 38px;
	border: 0px;
	background: #f2f2f2;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.field_title {
	display: inline-block;
	width: 109px;
	padding-right: 16px;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.human_numb_form:nth-child(1) {
	float: left;
	margin-bottom: 54px;
}

.human_numb_form:nth-child(2) {
	float: right;
	margin-bottom: 54px
}

.human_numb_form .field_title {
	width: 50px;
}

.adult_numb, .child_numb {
	display: inline-block;
    width: 114px;
    height: 38px;
    vertical-align: middle;
    font-size: 0px;
    background: #f2f2f2;
}

.adult_numb {
	margin-left: 60px;
}

.numb_field {
	display: inline-block;
	width: 38px;
	height: 36px;
	border: 0px;
	background: #f2f2f2;
	text-align: center;
	vertical-align: top;
}

.numb_btn {
	display: inline-block;
	width: 33px;
	height: inherit;
	border: 0px;
	background: #f2f2f2;
}

.search_btn {
	display: block;
	padding: 15px 195px;
	background: #81b3d2;
	text-decoration: none;
	color: #ffffff;
}
/*reserv_block end*/

/*.map begin*/

iframe {
	height: 593px;
	width: 100%;
	border: 0;
}

/*map end*/

/*main end*/

/*footer begin*/

.main_footer {
	position: relative;
	min-height: 50px; 
	padding: 35px 0px;
	background: rgba(254,254,254,.9);
}

.main_footer_index {
	margin-top: -120px;
}

.main_footer_hashtag {
	float: left;
	width: 400px;
	height: 48px;
	text-align: center;
}

.main_footer_social {
	float: left;
	width: 400px;
	height: 48px;
	text-align: center;
}

.main_footer_copyright {
	float: left;
	width: 400px;
	height: 48px;
	text-align: center;
	vertical-align: middle;
}

/*footer end