 /*fonts begins*/

body {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 21px;
	color: black;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	background: #f2f2f2;
}

h1,h4 {
	font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
}

h3 {
	font-size: 30px;
	line-height: 24px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
}
/*fonts end*/

/*animation begin*/

@keyframes move_form {
	0% {
    transform: translateY(-200px);
}
50% {
    transform: translateY(50px);
}
75% {
    transform: translateY(-5px);
}
100% {
    transform: translateY(0);
}
}

/*animation end*/

/*clearfix begin*/

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

/*clearfix end*/

/*.container begins*/

.container {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	background: #fff;
	box-shadow: 0 0 15px 5px rgba(0,0,1,.2);
}

/*.container end*/

/*header begins*/

.main_header {
	position: relative;
	min-height: 56px;
}

.main_nav {
	padding-left: 6%;
	padding-right: 6%;
}

.main_nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main_nav a {
	text-decoration: none;
}

.main_nav a:hover {
	color: #a3c7de;
}

.main_nav a:active {
	color: #b2b2b2;
}

.main_nav_item, .main_nav a {
	width: 20%;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
}

.main_nav_item {
	width: 20%;
	padding-top: 14px;
	padding-bottom: 10px;
}

.main_nav_info, .main_nav_photo {
	float: left;
	margin-right: 40px;
}

.main_nav_map, .main_nav_hotels {
	float: right;
	text-align: right;
	margin-left: 45px;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

/*header end*/

/*intro begin*/

.intro {
	position: relative;
	min-height: 508px;
	padding-top: 1px;
	margin-bottom: 60px;
	background: #5182ad url(../img/bground/background_header.jpg) 100% 0 no-repeat;
	background-size: cover;
}

.main_content {
	position: relative;
}

.main_content:before {
	content: "";
	position: absolute;
	top: -114px;
    width: 100%;
    height: 57px;
    background: url(../img/bground/bg_header_white.png) no-repeat
    center;
    background-size: 100% 57px;
    bottom: 0;
}

.intro_img {
	margin-top: 75px;
	width: 458px;
	height: 352px;
	margin-left: auto;
	margin-right: auto;
}

/*intro end*/

/*main_index begin*/

/*.description begin*/
.description {
	position: relative;
}

.description h1 {
	margin-right: 350px;
	margin-left: 350px;
	margin-bottom: 32px;
	text-align: center;
}

.description p {
	margin-bottom: 50px;
	text-align: center;
}

/*description end*/

/*.features_row1 begin*/


.features_row1 .features_item, 
.features_row3 .features_item {
	background: #81b3d2;
	color: white;
	width: 34%;
	max-height: 256px;
}

.features_item {
	float: left;
	min-height: 256px;
	width: 34%;
	text-align: center;
}

.features_row1 .features_title,
.features_row3 .features_title,
.features_row4 .features_title {
	margin-top: 54px;
	margin-bottom: 25px;
	margin-left: 100px;
	margin-right: 100px;
	color: white;
}

.features_number {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.features_description {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 63px;
}

.features_row1 .features_img {
	float: right;
	height: 256px;
	width: 66%;
	background: #81b3d2;
}

.content_img {
	width: 100%;
}

/*.features_row1 end*/

/*.features_row2 begin*/
.features_row2 .features_item:nth-child(1),
.features_row2 .features_item:nth-child(3),
.features_row4 .features_item:nth-child(1),
.features_row4 .features_item:nth-child(3) {
	width: 33%;
} 

.features_row2 > .features_item {
	min-height: 185px;
	padding-top: 145px;
	position: relative;
}

.features_row2 .features_item:nth-child(1)::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 76px;
	top: 55px;
	left: 50%;
	margin-left: -38px;
	background: transparent url(../img/sprite/spritesheet.png) no-repeat -10px -480px;
}

.features_row2 .features_item:nth-child(2)::before {
	content: "";
	position: absolute;
	width: 74px;
	height: 70px;
	top: 60px;
	left: 50%;
	margin-left: -37px;
	background: transparent url(../img/sprite/spritesheet.png) no-repeat -10px -298px;
}

.features_row2 .features_item:nth-child(3)::before {
	content: "";
	position: absolute;
	width: 64px;
	height: 76px;
	top: 55px;
	left: 50%;
	margin-left: -32px;
	background: transparent url(../img/sprite/spritesheet.png) no-repeat -10px -388px;
}

.features_row2 .features_item_title {
	margin-bottom: 24px;
}

.features_row2 .features_description {
	margin-left: 55px;
	margin-right: 55px;
}

/*.features_row2 end*/

/*features_row3 begin*/

.features_row3 .features_img {
	float: left;
	height: 256px;
	width: 66%;
}

.features_row3 .features_item {
	float: right;
}

.features_row3 .features_description {
	margin-left: 40px;
    margin-right: 40px;
}

/*features_row3 end*/

/*features_row4 begin*/


.features_row4, .features_row4 .features_item {
	min-height: 256px;
	background: #eeeeee;
}

.features_row4 .features_item_title {
	margin-top: 48px;
	margin-left: 140px;
	margin-right: 140px;
	color: inherit;
}

.features_row4 .features_number {
	margin-top: 25px;
}
.features_row4 {
	margin-bottom: 57px;
}
/*features_row4 end*/

/*reserv_block begin*/

.reserve_block {
	text-align: center;
	position: relative;
	z-index: 50;
	background-color: #fff;
}

.reserve_title {
	margin-bottom: 30px;
}

.reserve_block p {
	margin-bottom: 47px;
	font-size: 14px;
	line-height: 24px;
}

.search {
	width: 570px;
	margin: 0 auto; 
}

.search_push {
	display: block;
	padding: 30px 140px;
	background: #766357;
	color: white;
	text-decoration: none;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}

.search_form {
	position: absolute;
	display: none;
	height: 285px;
	width: 460px;
	top: 77.8%;
    left: 50%;
	margin-left:-285px;
	padding: 55px;
	background: #ffffff;
}


.search_form_show {
	display: block;
	animation-name: move_form;
	animation-duration: 800ms;
	animation-timing-function: linear;
}

.entry_field {
	position: relative;
	margin-bottom: 29px;
	font-size: 0px;
}

.date_field {
	width: 300px;
	height: 36px;
	padding-left: 14px;
	padding-right: 30px;
	margin-left: 5px;
	border: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    outline: 0;
    background: #f2f2f2 url(../img/sprite/spritesheet.png) no-repeat 305px -85px;
}

.date_field:hover {
	background: #ebebeb url(../img/sprite/spritesheet.png) no-repeat 305px -1px;
}

.date_field:active {
	box-shadow: inset 0 0 0 2px #e5e5e5; 
	background: #fff url(../img/sprite/spritesheet.png) no-repeat 305px -43px;
}

.field_title {
	display: inline-block;
	width: 109px;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.entry_field:not(:last-child) > .field_title {
	margin: -5px -3px 0px 0px;
}

.human_number_form:nth-child(1) {
	float: left;
	margin-bottom: 26px;
	font-size: 0px;
}

.human_number_form:nth-child(2) {
	float: right;
	margin-bottom: 26px;
	font-size: 0px;
}

.human_number_form:nth-child(2) .field_title {
	margin-right: 15px;
}

.human_number_form .field_title {
	width: 50px;
}

.adult_number, .child_number {
	display: inline-block;
    width: 114px;
    height: 38px;
    vertical-align: middle;
    font-size: 0px;
    background: #f2f2f2;
}

.adult_number {
	margin-left: 60px;
}

.number_field {
	display: inline-block;
	width: 38px;
	height: 36px;
	border: 0px;
	background: #f2f2f2;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	outline: 0;
}

.number_btn {
	display: inline-block;
	width: 33px;
	height: inherit;
	border: 0px;
	background: #f2f2f2;
	outline: 0;
	cursor: pointer;
}

.child_number .number_btn:first-child,
.adult_number .number_btn:first-child {
	background: #f2f2f2 url(../img/sprite/spritesheet.png) no-repeat 0px -780px;
}

.child_number .number_btn:first-child:hover,
.adult_number .number_btn:first-child:hover {
	background: #f2f2f2 url(../img/sprite/spritesheet.png) no-repeat 0px -734px;
}

.child_number .number_btn:first-child:active,
.adult_number .number_btn:first-child:active {
	background: #f2f2f2 url(../img/sprite/spritesheet.png) no-repeat 0px -757px;
}

.child_number .number_btn:last-child,
.adult_number .number_btn:last-child {
	background: #f2f2f2 url(../img/sprite/spritesheet.png) no-repeat 5px -953px;
}

.child_number .number_btn:last-child:hover,
.adult_number .number_btn:last-child:hover {
	background: #f2f2f2 url(../img/sprite/spritesheet.png) no-repeat 5px -891px;
}

.child_number .number_btn:last-child:active,
.adult_number .number_btn:last-child:active {
	background: #f2f2f2 url(../img/sprite/spritesheet.png) no-repeat 5px -922px;
}

.search_btn {
	display: block;
	padding: 16px 195px;
	background: #81b3d2;
	text-decoration: none;
	color: #ffffff;
	font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.search_btn:hover {
	background: #669ec0;
}

.search_btn:active {
	background: #5496bd;
	color: #88b6d1;
}
/*reserv_block end*/

/*.map begin*/

.map {
	position: relative;
}

iframe {
	height: 593px;
	width: 100%;
	border: 0;
}

/*map end*/

/*main_index end*/

/*////////////////////////////////////////////////////////*/

/*main_hotels begin*/

/*hotel_selection begin*/
.hotel_selection {
	padding: 28px 6% 31px;
	background: #81b3d0 url(../img/bground/hotel_selection_background.jpg) no-repeat 100% -55px;
	color: #ffffff;
}

.hotel_selection h4 {
	margin-top: 0px;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	font-weight: bold;
	font-family:'PT Sans', Arial, sans-serif;
}

.filters {
	width: 240px;
	float: left;
}

.filters:nth-child(2) {
	margin-left: 15px;
}

.filters label {
	position: relative;
	margin-left: 40px;
	cursor: pointer;
}

.filter_input {
	position: absolute;
	left: -99999px;
	top: 0;
}

.filter_choose {
	width: 25px;
    height: 22px;
    background: transparent url(../img/sprite/spritesheet.png) no-repeat -10px -823px;  
    position: absolute;
    left: -40px;
    top: -3px;
}

.filter_input:checked + .filter_choose {
	background: transparent url(../img/sprite/spritesheet.png) no-repeat -10px -137px;
}

.filter_input:disabled + .filter_choose {
	background: transparent url(../img/sprite/spritesheet.png) no-repeat -10px -865px;
}

.filter {
	margin-top: 25px;
}

.range_filters {
	float: right;
	width: 328px;
}

.range_filters_title {
	margin-bottom: 9px;
}

.price_controls {
	width: 314px;
	margin-left: 10px;
	margin-bottom: 20px;
	padding: 5px 0px;
	font-size: 0px;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price_controls input {
	width: 50%;
	box-sizing: border-box;
	background: none;
	border: none;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	outline: none;
}

.price_controls input:nth-child(1) {
	border-right: 1px solid #ffffff;
}

.price_controls input:nth-child(2) {
	border-left: 1px solid #ffffff;
}

.range {
	width: 318px;
	margin-left: 10px;
	position: relative;
	margin-bottom: 32px;
}

.scale {
	width: 100%;
    height: 2px;
    background: rgba(255,255,255,.3);
}

.bar {
	position: relative;
    width: 83%;
    height: 2px;
    background: #fff;
}

.range_item {
	position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
}

.range_item_left {
	left: 0px;
}

.range_item_right {
	right: -9px;
}

.range_item:hover {
	background: #1c4f80;
}

.find_btn {
	text-align: center;
}

.find_btn .find:hover {
	background: white;
	color: #000;
}

.find_btn .find {
	width: 137px;
	padding: 5px 5px;
	border: 2px solid #fff;
	border-radius: 2px;
	background: none;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	
}

/*hotel_selection end*/

/*searh_sortby begin*/

.search_sortby {
	min-height: 21px;
	padding: 30px 6% 25px 6%;
	background: #fff;
	border-bottom: 1px solid #e5e5e5; 
}

.sort {
	float: left;
	font-size: 0px;
}

.sort h4, .sort_title, .sort_by_item, .sort_by  {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.sort_title, .sort_by_item {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.sort_title {
	margin-left: 50px;
}

.sort_by_item:nth-child(1) {
	margin-left: 40px;
}

.active {
	color: #b3d1e4;
}

.sort_by_item:nth-child(2) a, .sort_by_item:nth-child(3) a {
	margin-left: 33px;
	border-bottom: 1px dotted #81b3d2;
}

.no_active {
	color: #c6c6c6;
}

.sort_by_item a {
	text-decoration: none;
}

.sort_by_item:not(:first-child) a:hover {
	color: #81b3d2;
}

.sort_by_item:not(:first-child) a:active {
	color: #000;
	border-bottom: none;
}

.switch {
	position: relative;
	float: right;
	width: 50px;
	min-height: 30px;
}

.icon_up_dir, .icon_down_dir {
	position: absolute;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-bottom: 10px solid #cccccc;
	border-top: 10px solid #81b3d2;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.icon_up_dir {
	border-top: 10px solid transparent;
	left: 15px;
}

.icon_up_dir:hover {
	border-bottom: 10px solid black;
}  

.icon_up_dir:active {
	border-bottom: 10px solid #81b3d2;
}  


.icon_down_dir {
	border-top: 10px solid #81b3d2;
	border-bottom: 10px solid transparent;
	left: 38px;
	top: 9px;
}

.icon_down_dir:hover {
	border-top: 10px solid black;
}

 .icon_down_dir:active {
 	border-top: 10px solid #81b3d2;
 }

/*searh_sortby end*/

/*found_items begins*/

.found_items .item {
	min-height: 0px;
	padding: 29px 6% 25px;
	border-bottom: 1px solid #e5e5e5; 
}

.item_img {
	float: left;
	margin-right: 30px;
}

.item_info {
	float: left;
}

.item_info .item_title {
	display: block;
	margin-top: -4px;
	margin-bottom: 8px;
	font-family: "PT Sans", Arial, sans-serif; 
	text-decoration: none;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: black;
}

.item_info .item_title:hover {
	color: #81b3d2;
}

.item_info .item_title:active {
	color: #b2b2b2;
}

.item_description {
	font-size: 0px;
}

.item_description span {
	display: inline-block;
	width: 110px;
	margin-bottom: 13px;
	margin-right: 6px;
	font-size: 14px;
	line-height: 21px;
	color: black;

}

.item_rating {
	float: right;
}

.rating_stars {
	font-size: 0px;
	margin-left: 10px;
}

.rating_stars ul {
	padding: 0;
	margin: 0;
	float: right;
}

.rating_stars .star {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	margin-left: 3px;
}

.star:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: transparent url(../img/sprite/spritesheet.png) no-repeat -9px -998px;
	left: 0px;
}

.rating_index {
	max-height: 25px;
	padding: 3px 13px 2px 15px; 
	margin-top: 63px;
	background: #f2f2f2;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
}

.item_btn {
	font-size: 0px;
}

.item_btn > a {
	display: inline-block;
	margin-right: 6px;
	font-family: "PT Sans", Arial, sans-serif; 
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #fff;
}

.item_btn_more {
	padding: 3px 17px;
	background: #81b3d2;
}

.item_btn_book {
	padding: 3px 17px;
	background: #766357
}

.item_btn_more:hover {
	background: #669ec0;
}

.item_btn_book:hover {
	background: #604e43;
}

.item_btn_more:active {
	background: #5496bd;
	color: #81b2ce;
}

.item_btn_book:active {
	background: #503e33;
	color: #81746d;
}
/*found_items end*/

/*main_hotels end*/

/*footer begin*/

.main_footer {
	position: relative;
	min-height: 50px; 
	padding: 35px 0px 60px;
}

.main_footer_index {
	margin-top: -125px;
	background: rgba(254,254,254,.7);
	z-index: 999;
}

.main_footer_hashtag {
	float: left;
	width: 33%;
	height: 48px;
	margin-top: 10px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
}

.main_footer_social {
	float: left;
	width: 34%;
	height: 48px;
	text-align: center;
}

.social_btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-right: 2px;
	font-size: 0px;
	text-decoration: none;
	vertical-align: top;
	text-align: center;
	background: #81b3d2 url(../img/sprite/spritesheet.png) no-repeat center; 
}

.social_twitter {
	 background-position: 5px -1019px; 
}

.social_twitter:hover {
	background: #669ec0 url(../img/sprite/spritesheet.png) no-repeat 5px -1019px;
}

.social_twitter:active{
	background: #5496bd url(../img/sprite/spritesheet.png) no-repeat 5px -1054px;
}

.social_facebook {
	background-position: 8px -207px; 
}

.social_facebook:hover {
	background: #669ec0 url(../img/sprite/spritesheet.png) no-repeat 8px -207px;
}

.social_facebook:active{
	background: #5496bd url(../img/sprite/spritesheet.png) no-repeat 8px -246px;
}

.social_youtube {
	background-position: 3px -1090px;
}

.social_youtube:hover {
	background: #669ec0 url(../img/sprite/spritesheet.png) no-repeat 3px -1090px;
}

.social_youtube:active{
	background: #5496bd url(../img/sprite/spritesheet.png) no-repeat 3px -1126px;
}

.main_footer_copyright {
	float: left;
	width: 33%;
	height: 48px;
	text-align: center;
}

.main_footer_copyright a {
	display: inline-block;
	height: 40px;
	padding-top: 8px;
	padding-right: 125px;
	margin-top: 2px;
    margin-left: 3px;
	color: black;
	vertical-align: top;
	text-decoration: none;
	font-size: 14px;
    line-height: 26px;
    background: url(../img/sprite/spritesheet.png) no-repeat 72px -572px;
}

.main_footer_copyright a:hover {
	 background: url(../img/sprite/spritesheet.png) no-repeat 72px -631px;
}

.main_footer_copyright a:active {
	 background: url(../img/sprite/spritesheet.png) no-repeat 72px -690px;
}
/*footer end*/