body {
	font-size: 14px;
	line-height: 21px;
	color: black;
	font-weight: 0;
	font-family: 'PTSans', sans-serif;
	text-transform: uppercase;
	background: grey;
}

h1,h4 {
	font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bold;
	font-family: 'PTSans', sans-serif;
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: black;
	font-weight: bold;
	font-family: 'PTSans', sans-serif;
}

h3 {
	font-size: 30px;
	line-height: 24px;
	color: black;
	font-weight: bold;
	font-family: 'PTSans', sans-serif;
}

